/*** uncss> filename: css/navbar.css ***/

body {
  overflow-x: hidden;
}

.navbar_ul {
  list-style: outside none none;
  float: right;
  padding-top: 28px;
}

.navbar_ul li {
  display: inline-block;
  padding-right: 10px;
}

.navbar_ul li a {
  font-size: 15px;
  line-height: 24px;
  margin: 0px 13px;
  font-family: "caviar_dreamsbold";
  color: #000;
  font-weight: 300;
  text-decoration: none !important;
}

.navbar_ul li a:hover {
  text-decoration: none !important;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px!important;
  }
}

@media (min-width: 1026px) and (max-width: 1300px) {
  .navbar_ul {
    padding-right: 10%;
  }
}

@media (min-width: 1301px) {
  .navbar_ul {
    padding-right: 10%;
  }
}

@media (min-width: 800px) and (max-width: 1085px) {
  .navbar_ul {
    padding-right: 4.1%;
  }

  .navbar_ul li a {
    margin: 0px 11px;
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  .navbar_ul {
    padding-right: 0%;
  }

  .navbar_ul li a {
    margin: 0px 9px;
  }
}

/*********************************Footer*******************************************/

@media (max-width: 905px) and (min-width: 768px) {
  /*.position
{
	padding-top: 25px;
}*/
}
