/*===============================
=            COLOURS            =
===============================*/


// Set up a colour palette which allows us to theme the entire project from one
// location.


$color-green:                                 #46c496;
$color-black:                                 #000000;
$color-purple:                                #92278f;
$color-blue:                                  #71d6fc;
$color-gold:                                  #e5c600;
$color-cool-grey-dark:                        #999999;

$color-grey:                                  #9a9898;
$color-light-grey:                            #e9eaea;
$color-orange:                                #FF9933;

$color-white:                                 #fff;

// Reassign literal variables to meaningful ones.

$color-page-background:                       #FFFFFF;
